*{
  margin:0;
  padding: 0;
}
html,body{
  height: 100%;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;

}
#tab{
  width: 400px;
  height:300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}
#tab div{
  padding: 30px;
  border:1px solid #000000;
  border-top:none;
  display: none;
}
#Ul{
  height:25px;
  border-bottom:1px solid #000000;
}

#Ul li{
  display: inline-block;
  width: 65px;
  line-height: 25px;
  list-style: none;
  text-align: center;
  margin:0 5px;
  border: 1px solid #000000;
  border-bottom:none;
}

#tab .show{
  display:block;
  color:#111111;
  text-align: center;
  font-size: 45px;
  font-weight: 50px;
}
#tab .active{
  border-top: 1px solid red;
  background: #c0c0c0;
  margin-bottom:-1px;
}
a{
  color: #000000;
  text-decoration: none;
}